body {
    background-color:rgb(12,14,11)
}

.aLogo {
    height:100%;
    width:100%;
    z-index: -1;
    position: absolute;
 
    
    /* float: left; */
}
.hulkL {
    width:25%;
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    z-index: 2;
    border-radius: 30%;
}

.hulkR {
    width:25%;
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    z-index: 2;
    border-radius: 30%;
}

.bW {
    
}

.hulkL:hover {
    /* transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /* transform: rotate(30deg); */ 
    transform : rotate(30deg) scale(1.5);
}
.hulkR:hover {
    transform: rotate(30deg) scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    
}